<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <h1>These are my phrases:</h1>
    <h2><%= @phrases.get_phrase %></h2>
    <div class="boxed"><a href="/"style="text-decoration : none;">Refresh</a></div>
<br>

<form>Phrase:<br>
<input type="text" name="firstname" value="Input">

<br><input type="submit" value="Submit">
</form>
<br>

  </body>
</html>
