<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  <h1>Please enter your<br>username and<br>password:</h1>
<form action="/login" method="post">
<label>Username:</label><br>
<input  type="text" name="username">
<br><br>
<label>Password:</label><br>
<input  type="text" name="password">
<br><br>
<input type="submit" name="action" value="Submit">
</form>
<br>
  </body>
</html>
