<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <h1>MOVIE FUN!</h1>
<body>
    <div>
      <h2>Enter your favorite movie:</h2>
      <form action="/text", method='post'>
      <input type="text" name="text">
        <input type="submit">
      </div>
      </form>
</body>
</html>



    
     