<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
</head>
<body>
<h1>Movie Fun!</h1>
      <h1><%= @movies %></h1>
      <form>
      Enter a movie title:<br>
      <input type="text" name="movietitle">
      <br>
      </form><br>
      <a href="/">Submit</a>
</body>
</html>

