<h1>Movies</h1>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <%= movie.print %>
      <form action="/remove_movie/<%= movie.id %>" method="post">
        <input type="submit" name="remove_movie" value="X">
      </form>
    </li>
  <% end %>
</ul>

<a href="/movies/new">Create new movie</a>