<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    <body>
     	<img src="[...]" onClick='alert("Yay")'/>
    	<img src="[...]" onClick='alert("Nay")'/>
      <div class="movie-container">
      <h1><%= @movies %></h1>
      <a href="/">Refresh</a>
      </div>
      <div class="movie-list-container">
        <ul>
        <%= @movies.each do |movies| %>
         <% end %>
          <li>
            <form action="/" method="POST">
              <input type="text" name="movies">
              <input.button type="submit" value="New Movie>>">
            </form>
          </li>
      </ul>
    </div>
    </body>
</html>