<h1>Todo List</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.print %>
      <form action="/remove_task/<%= task.id %>" method="post">
        <input type="submit" name="remove_task" value="X">
      </form>
    </li>
  <% end %>
</ul>

<a href="/tasks/new">Create new task</a>
