<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
    <body>
      <div class="task-container">
      <h1><%= @tasks %></h1>
      <a href="/">Refresh</a>
      </div>
      <div class="task-list-container">
        <ul>
        <%= @task.each do |task| %>
         <% end %>
          <li>
            <form action="/" method="POST">
              <input type="text" name="task">
              <input.button type="submit" value="New Task >>">
            </form>
          </li>
      </ul>
    </div>
    </body>
</html>