body {
	font-size: 11pt;
	font-family: arial, sans-serif;
	font-size: 11pt;
	background-color: #FF86B4;
}
a {
    height: 400px;
    width:  400px;
}
.boxed {
  border: 1px solid blue;
  width: 75px;
  height: 17px;
  text-align: center;
}